.homepage-bg {
  background: url('../images/background.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.box {
  width: 100%;
  height: 90%;
  background-color: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.box-wrap:not(:last-child) {
  margin-right: 30px;
}

#first-row {
  height: 30vh;
}

.boxes {
  height: 38vh;
  width: 90%;
  margin: 0 auto;
}

.box .h3 {
  height: 70%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  padding: 0 10px;
}

.upper-text .h1 {
  font-family: CircularStdBlack, sans-serif;
  display: flex;
  align-items: center;
  height: 100%;
  letter-spacing: 4px;
  font-weight: bold;
}

.category-btn .btn {
  color: #f2f2f2;
  background-color: #6630d8;
  padding: 7px 24px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.category-btn .btn:hover {
  background-color: #f2f2f2;
  color: #6630d8;
  border: 1px solid #6630d8;
  text-decoration: none;
}

.category-btn {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.category-btn a {
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}
