.cv-wrapper-bg {
  background: url('../images/background.png');
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}

#left-side {
  margin: 40px;
}

.left-side {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 10vh;
}

.right-side {
  margin: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  height: 80vh;
  overflow: auto;
  position: fixed;
  right: 0;
}

.top-buttons {
  display: flex;
  align-items: center;
  height: 100px;
  font-family: CircularStdBlack, sans-serif;
}

.imageCv img {
  width: 100%;
  display: block;
}

.cv {
  width: 28%;
  height: 60%;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv:not(:last-child) {
  margin-right: 37px;
}

.cv a {
  color: #6630d8;
  text-transform: uppercase;
}

.cv a:focus,
.cv a:hover {
  color: #f2f2f2;
}

.cv .btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.cv .btn:hover,
.cv .btn:active,
.active {
  background-color: #6630d8;
  color: #f2f2f2;
}

.editable .btn {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  background-color: #6630d8;
  color: #f2f2f2;
}

.active {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.active a {
  color: #f2f2f2;
}

.edit,
.download .btn {
  background-color: #6630d8;
  color: #f2f2f2;
  font-family: CircularStdBlack, sans-serif;
  font-size: 15px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.download .btn {
  height: 40px;
  padding: 0 25px;
}

.edit .btn {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #6630d8;
  color: #f2f2f2;
}

.modal-dialog .modal-content,
.modal-dialog .modal-header,
.modal-dialog .modal-footer {
  border: none;
}

.modal-dialog .modal-body {
  font-size: 18px;
  font: CircularStdBlack, sans-serif;
}

.modal-btn {
  background-color: #6630d8;
  color: #f2f2f2;
  border: 1px solid #6630d8 !important;
  text-transform: uppercase;
  font-weight: 600;
}

.edit .btn:hover,
.download .btn:hover,
.modal-btn:hover {
  color: #6630d8;
  background-color: #f2f2f2;
}

.download-wrap {
  position: relative;
}

.download {
  position: absolute;
  bottom: 0;
}

.right-side h4 {
  font-family: CircularStdBlack, sans-serif;
  font-size: 1.1rem;
}

.right-side h4,
.right-text h4 {
  padding: 30px;
  color: #464545;
}
