.design-res {
  position: relative;
}

.design-res .mainInfo {
  position: absolute;
  top: 0%;
  left: 4%;
  width: 53%;
  height: 25%;
}

.design-res .intro {
  position: absolute;
  top: 26%;
  left: 7%;
  width: 53%;
  height: 12%;
}

.design-res .previousJob {
  position: absolute;
  top: 43%;
  left: 7%;
  width: 44%;
  height: 36%;
}

.design-res .education {
  position: absolute;
  top: 43%;
  width: 40%;
  right: 5%;
  height: 18%;
}

.design-res .skills {
  position: absolute;
  top: 61%;
  width: 37%;
  right: 7%;
  height: 17%;
}

.design-res .practicalPart {
  position: absolute;
  top: 79%;
  left: 7%;
  width: 31%;
  height: 12%;
}
