.development-res {
  position: relative;
}

.development-res img {
  display: block;
  width: 100%;
}

.development-res .photo {
  position: absolute;
  top: 25px;
  width: 16%;
  margin: 0 42%;
  height: 11%;
}

.development-res .mainInfo {
  position: absolute;
  top: 0;
  left: 0px;
  width: 39%;
  height: 8%;
}

.development-res .intro {
  position: absolute;
  top: 8%;
  left: 0;
  height: 8%;
  width: 40%;
}

.development-res .previousJob {
  position: absolute;
  top: 17%;
  width: 55%;
  height: 38%;
}

.development-res .practicalPart {
  position: absolute;
  top: 0;
  width: 24%;
  height: 11%;
  right: 0;
}

.development-res .skills {
  position: absolute;
  top: 17%;
  width: 42%;
  right: 0;
  height: 21%;
}

.development-res .education {
  position: absolute;
  top: 38%;
  width: 41%;
  height: 37%;
  right: 0;
}
