.EditMarketing .work-experience .form-wrapper,
.EditMarketing .education .form-wrapper {
  display: flex;
}

.EditMarketing .work-experience,
.EditMarketing .education,
.EditMarketing .education .info-education,
.EditMarketing .work-experience .info-worklist,
.EditMarketing .achievement,
.EditMarketing .achievement .info-achievement,
.EditMarketing .languages,
.EditMarketing .informal-education,
.EditMarketing .skills {
  position: relative;
}

.EditMarketing .contact-heading {
  display: none;
}

.EditMarketing {
  margin-bottom: 50px;
}

.EditMarketing .cv-image {
  margin-left: 40px;
}

.EditMarketing .cv-image img {
  margin-top: 10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.EditMarketing .cv-image input#attach-image {
  display: none;
}

.EditMarketing .work-experience .side-box .box,
.EditMarketing .education .side-box .box {
  width: 25px;
  height: 5px;
  margin-right: 20px;
  margin-top: 10px;
}

.EditMarketing .work-experience .side-box .box,
.EditMarketing .education .side-box .box {
  background: #468f99;
  box-shadow: none;
}

.EditMarketing .basic-info,
.EditMarketing .skills,
.EditMarketing .achievement,
.EditMarketing .languages,
.EditMarketing .informal-education {
  margin-top: 10px;
}

.EditMarketing .work-experience .form-wrapper textarea,
.EditMarketing .education .form-wrapper textarea,
.EditMarketing .achievement .form-wrapper textarea,
.EditMarketing .basic-info .basic-info-form .name textarea,
.EditMarketing .basic-info .basic-info-form .title textarea,
.EditMarketing .basic-info .basic-info-form .about textarea,
.EditMarketing .contact-info input {
  border: hidden;
  width: 80%;
  resize: none;
}

.EditMarketing .work-experience .form-wrapper ul,
.EditMarketing .education .form-wrapper ul,
.EditMarketing .achievement .form-wrapper ul {
  list-style-type: none;
  width: 80%;
}

.EditMarketing .work-experience .form-wrapper .title::placeholder,
.EditMarketing .work-experience .form-wrapper .workplace::placeholder,
.EditMarketing .education .form-wrapper .study::placeholder,
.EditMarketing .education .form-wrapper .institution::placeholder,
.EditMarketing .work-experience .info-worklist .h5-title textarea,
.EditMarketing .education .info-education .h5-study textarea {
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}

.EditMarketing .basic-info .basic-info-form .name textarea,
.EditMarketing .time-period input::placeholder,
.EditMarketing .time-period .period-separator,
.EditMarketing .time-period .location input::placeholder,
.EditMarketing .time-period input,
.EditMarketing .time-period .dash-separator,
.EditMarketing .time-period .location input {
  color: #468f99;
}

.EditMarketing .basic-info .basic-info-form .name textarea {
  font-weight: 500;
  color: #364458;
}

.EditMarketing .basic-info .basic-info-form .title textarea {
  font-weight: 500;
  color: #468f99;
}

.EditMarketing .contact-info {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #468f99;
  color: #ffffff;
  margin-bottom: 1rem;
}

.EditMarketing .contact-info li {
  width: 40%;
}

.EditMarketing .contact-info input,
.EditMarketing .contact-info input::placeholder {
  background: #468f99;
  color: #ffffff;
}

.EditMarketing .contact-info span {
  float: left;
  font-size: 18px;
}

.EditMarketing .work-experience h5,
.EditMarketing .education h5 {
  margin-left: 40px;
  margin-top: 10px;
}

.EditMarketing .work-experience h5,
.EditMarketing .education h5,
.EditMarketing .skills h5,
.EditMarketing .achievement h5,
.EditMarketing .languages h5,
.EditMarketing .informal-education h5 {
  font-weight: bold;
  color: #468f99;
}

.EditMarketing .work-experience .form-wrapper .h5-title,
.EditMarketing .work-experience .form-wrapper .h5-workplace,
.EditMarketing .education .form-wrapper .h5-study,
.EditMarketing .education .form-wrapper .h5-study .education,
.EditMarketing .education .form-wrapper .h5-institution,
.EditMarketing .education .form-wrapper .info-education .institution {
  margin: 0;
  padding: 0;
}

.EditMarketing .addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #468f99;
  border: 2px solid #468f99;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 50px;
  cursor: pointer;
}

.EditMarketing .deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #468f99;
  padding: 5px;
  position: absolute;
  top: 27%;
  right: 16px;
  cursor: pointer;
}

.EditMarketing .achievement .addButton,
.EditMarketing .languages .addButton,
.EditMarketing .languages .deleteButton,
.EditMarketing .skills .addButton,
.EditMarketing .informal-education .addButton {
  right: 0;
}

.EditMarketing .achievement .deleteButton {
  right: -79px;
}

.EditMarketing .languages .form-wrapper input {
  border: hidden;
  width: 70%;
  resize: none;
}

.EditMarketing .languages .form-wrapper span {
  margin-right: 10px;
}

.EditMarketing .skills .form-wrapper .deleteButton,
.EditMarketing .informal-education .form-wrapper .deleteButton {
  background: #468f99;
  border-radius: 4px;
  color: #ffffff;
  position: absolute;
  border: 2px solid #ffffff;
  font-size: 12px;
  right: 5%;
  top: 50%;
}

.EditMarketing .informal-education input {
  border: 2px solid #468f99;
  color: #468f99;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 3px 7px;
  border-radius: 4px;
}

.EditMarketing .skills input {
  background-color: #468f99;
  color: white;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 3px 7px;
  border: none;
  border-radius: 4px;
}

.EditMarketing .work-experience,
.EditMarketing .skills,
.EditMarketing .education,
.EditMarketing .achievement,
.EditMarketing .language-form-wrap,
.EditMarketing .info-education {
  margin-bottom: 1rem;
}
