.EditDesign {
  padding: 0 50px;
  margin-bottom: 50px;
}

.EditDesign .designer-content {
  border: 3px solid #000000;
  margin-top: 150px;
  padding-bottom: 50px;
}

.EditDesign ul {
  list-style-type: none;
  padding-left: 0;
}

.EditDesign .work-experience,
.EditDesign .education,
.EditDesign .education .info-education,
.EditDesign .work-experience .info-worklist,
.EditDesign .skills {
  position: relative;
}

.EditDesign .addButton {
  display: flex;
  justify-content: center;
  color: #000000;
  position: absolute;
  top: 0;
  right: 40px;
  cursor: pointer;
  font-size: 18px;
}

.EditDesign .deleteButton {
  display: flex;
  justify-content: center;
  color: #000000;
  position: absolute;
  top: 40%;
  right: 10%;
  cursor: pointer;
}

.EditDesign .work-experience h5,
.EditDesign .education h5,
.EditDesign .skills h5,
.EditDesign .contact-heading {
  font-weight: bold;
}

.EditDesign .basic-info {
  position: absolute;
  top: -150px;
  left: -1px;
  width: 100%;
}

.EditDesign .basic-info .basic-info-form .name {
  padding-top: 150px;
}

.EditDesign .basic-info .basic-info-form .name,
.EditDesign .basic-info .basic-info-form .title,
.EditDesign .basic-info .basic-info-form .name textarea,
.EditDesign .basic-info .basic-info-form .title textarea {
  background-color: black;
  color: white;
  width: 60%;
}

.EditDesign .basic-info .basic-info-form .name textarea::placeholder,
.EditDesign .basic-info .basic-info-form .title textarea::placeholder {
  color: #ffffff;
}

.EditDesign .basic-info .basic-info-form .about textarea::placeholder,
.EditDesign .work-experience .time-period input::placeholder,
.EditDesign .education .time-period input::placeholder,
.EditDesign .time-period .dash-separator {
  color: #000000;
}

.EditDesign .basic-info .basic-info-form .name {
  margin: 0;
}

.EditDesign .basic-info .basic-info-form .name textarea,
.EditDesign .basic-info .basic-info-form .title textarea,
.EditDesign .contact-info input {
  width: 100%;
}

.EditDesign .basic-info .basic-info-form .name p {
  margin-bottom: 30px;
}

.EditDesign .basic-info .basic-info-form .name,
.EditDesign .basic-info .basic-info-form .title {
  margin-left: -2px;
}

.EditDesign .basic-info .basic-info-form .name textarea {
  line-height: 37px;
  font-size: 35px;
  letter-spacing: 15px;
  padding-left: 45px;
  font-weight: 700;
}

.EditDesign .basic-info .basic-info-form .title {
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-left: 45px;
}

.EditDesign .basic-info .basic-info-form .title textarea {
  font-size: 18px;
  letter-spacing: 10px;
  font-weight: 400;
  color: #ffffff;
}

.EditDesign .basic-info .basic-info-form .name textarea,
.EditDesign .basic-info .basic-info-form .title textarea,
.EditDesign .basic-info .basic-info-form .about textarea,
.EditDesign .work-experience .form-wrapper textarea,
.EditDesign .education .form-wrapper textarea,
.EditDesign .contact-info input,
.EditDesign .skills input {
  overflow: hidden;
  resize: none;
  border: none;
}

.EditDesign .designer-left,
.EditDesign .designer-right {
  margin-top: 350px;
}

.EditDesign .basic-info .about textarea {
  margin-left: 45px;
  width: 60%;
  margin-bottom: 50px;
}

.EditDesign .designer-left {
  padding-left: 45px;
}

.EditDesign .time-period .period-separator,
.EditDesign .time-period .present-label,
.EditDesign .time-period .present-input,
.EditDesign .time-period .aboutJob,
.EditDesign .time-period .location,
.EditDesign .time-period .month,
.EditDesign .contact-info span {
  display: none;
}

.EditDesign .designer-right {
  padding-right: 45px;
}

.EditDesign .work-experience .time-period input,
.EditDesign .education .time-period input {
  font-size: 16px;
  width: 50px !important;
  font-weight: 600;
  color: #000000;
}

.EditDesign .skills .form-wrapper div input {
  margin: 0;
  padding: 0;
}

.EditDesign .skills .form-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.EditDesign .skills .form-wrapper span input {
  width: 250px !important;
}

.EditDesign .work-experience .info-worklist textarea,
.EditDesign .education .info-education textarea {
  width: 80%;
}

.EditDesign .skills .form-wrapper .deleteButton {
  font-size: 12px;
  top: 20%;
  right: 13%;
}

.EditDesign .work-experience .info-worklist .h5-title,
.EditDesign .work-experience .info-worklist .h5-workplace,
.EditDesign .education .info-education .h5-study,
.EditDesign .education .info-education .h5-institution {
  margin-bottom: 0;
}
