.EditDevelopment .basic-info,
.EditDevelopment .work-experience .form-wrapper,
.EditDevelopment .education .form-wrapper {
  display: flex;
}

.EditDevelopment .work-experience,
.EditDevelopment .education,
.EditDevelopment .education .info-education,
.EditDevelopment .work-experience .info-worklist,
.EditDevelopment .achievement,
.EditDevelopment .achievement .info-achievement,
.EditDevelopment .languages {
  position: relative;
}

.EditDevelopment .work-experience,
.EditDevelopment .skills,
.EditDevelopment .achievement {
  margin-bottom: 1rem;
}

.EditDevelopment .development-form-wrap {
  margin-bottom: 3rem;
}

.EditDevelopment .contact-heading {
  display: none;
}

.EditDevelopment .addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2ebcb4;
  border: 2px solid #2ebcb4;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 50px;
  cursor: pointer;
}

.EditDevelopment .achievement .addButton,
.EditDevelopment .languages .addButton,
.EditDevelopment .languages .deleteButton {
  right: 34px;
}

.EditDevelopment .achievement .deleteButton {
  right: -45px;
}

.EditDevelopment .deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2ebcb4;
  padding: 5px;
  position: absolute;
  top: 30%;
  right: 25px;
  cursor: pointer;
}

.EditDevelopment .skills .deleteButton {
  color: #ffffff;
  background: #2ebcb4;
  border: 2px solid #ffffff;
  font-size: 12px;
  top: 15px;
  right: 5px;
  border-radius: 4px;
}

.EditDevelopment .basic-info .side-box .box,
.EditDevelopment .work-experience .side-box .box,
.EditDevelopment .education .side-box .box {
  width: 30px;
  height: 50px;
  margin-right: 20px;
}

.EditDevelopment .basic-info .side-box .box {
  background: #394a59;
}

.EditDevelopment .work-experience .side-box .box,
.EditDevelopment .education .side-box .box {
  background: #2ebcb4;
}

.EditDevelopment .basic-info .basic-info-form .name textarea,
.EditDevelopment .basic-info .basic-info-form .title textarea,
.EditDevelopment .basic-info .basic-info-form .about textarea,
.EditDevelopment .contact-info input {
  border: hidden;
  width: 90%;
  resize: none;
}

.EditDevelopment .languages .form-wrapper input {
  border: hidden;
  width: 70%;
  resize: none;
}

.EditDevelopment .languages .form-wrapper span {
  margin-right: 10px;
}

.EditDevelopment .cv-image img {
  margin-top: 10px;
  width: 120px;
  height: 120px;
  border: 2px solid #2ebcb4;
  border-radius: 50%;
  object-fit: cover;
}

.EditDevelopment .cv-image input#attach-image {
  display: none;
}

.EditDevelopment .contact-info {
  padding: 0;
  list-style-type: none;
  text-align: right;
}

.EditDevelopment .contact-info svg {
  width: 20px;
  font-size: 23px;
  color: #394a59;
}

.EditDevelopment .contact-info input {
  text-align: right;
  padding-right: 10px;
  margin-bottom: 7px;
}

.EditDevelopment hr {
  background-color: #2ebcb4;
  height: 2px;
  margin: 15px auto 30px;
}

.EditDevelopment .work-experience h5,
.EditDevelopment .education h5 {
  margin-left: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}

.EditDevelopment .skills h5,
.EditDevelopment .achievement h5,
.EditDevelopment .languages h5 {
  font-weight: bold;
  margin-bottom: 15px;
}

.EditDevelopment .work-experience .form-wrapper textarea,
.EditDevelopment .education .form-wrapper textarea,
.EditDevelopment .achievement .form-wrapper textarea {
  border: hidden;
  width: 80%;
  resize: none;
}

.EditDevelopment .work-experience .form-wrapper .h5-title,
.EditDevelopment .work-experience .form-wrapper .h5-workplace,
.EditDevelopment .education .form-wrapper .h5-study,
.EditDevelopment .education .form-wrapper .h5-institution {
  margin: 0;
  padding: 0;
}

.EditDevelopment .work-experience .form-wrapper ul,
.EditDevelopment .education .form-wrapper ul,
.EditDevelopment .achievement .form-wrapper ul {
  list-style-type: none;
  width: 80%;
}

.EditDevelopment .work-experience .form-wrapper .achievements::placeholder,
.EditDevelopment .education .form-wrapper .courses::placeholder,
.EditDevelopment .work-experience .info-worklist .accomplishments textarea,
.EditDevelopment .education .info-education .studied textarea {
  color: #2ebcb4;
}

.EditDevelopment .basic-info .basic-info-form .name textarea {
  font-weight: 500;
  color: #394a59;
}

.EditDevelopment .basic-info .basic-info-form .title textarea {
  font-weight: 500;
  color: #2ebcb4;
}

.EditDevelopment .work-experience .form-wrapper .title::placeholder,
.EditDevelopment .work-experience .form-wrapper .workplace::placeholder,
.EditDevelopment .education .form-wrapper .study::placeholder,
.EditDevelopment .education .form-wrapper .institution::placeholder,
.EditDevelopment .work-experience .info-worklist .h5-title textarea,
.EditDevelopment .education .info-education .h5-study textarea {
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}

.EditDevelopment .work-experience .form-wrapper .responsibility,
.EditDevelopment .education .form-wrapper .projects {
  margin-left: 20px;
}

.EditDevelopment .date-location {
  width: 90%;
}

.EditDevelopment .skills input {
  background-color: #2ebcb4;
  color: white;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 3px 7px;
  border: none;
  border-radius: 4px;
}

.EditDevelopment .languages .form-wrapper {
  margin-bottom: 10px;
}
