.EditScience .work-experience,
.EditScience .education,
.EditScience .education .info-education,
.EditScience .work-experience .info-worklist,
.EditScience .achievement,
.EditScience .achievement .info-achievement,
.EditScience .languages,
.EditScience .informal-education,
.EditScience .skills-data-science {
  position: relative;
}

.EditScience {
  margin-bottom: 40px;
}

.EditScience .cv-image {
  margin-left: 40px;
}

.EditScience .cv-image img {
  margin-top: 10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.EditScience .cv-image input#attach-image,
.EditScience .contact-heading {
  display: none;
}

.EditScience .basic-info,
.EditScience .skills-data-science,
.EditScience .achievement,
.EditScience .languages,
.EditScience .informal-education {
  margin-top: 10px;
}

.EditScience .work-experience .form-wrapper textarea,
.EditScience .education .form-wrapper textarea,
.EditScience .achievement .form-wrapper textarea,
.EditScience .basic-info .basic-info-form .name textarea,
.EditScience .basic-info .basic-info-form .title textarea,
.EditScience .basic-info .basic-info-form .about textarea,
.EditScience .contact-info input {
  border: hidden;
  width: 90%;
  resize: none;
}

.EditScience .work-experience .form-wrapper ul,
.EditScience .education .form-wrapper ul,
.EditScience .achievement .form-wrapper ul {
  list-style-type: none;
  width: 80%;
}

.EditScience .work-experience .form-wrapper .title::placeholder,
.EditScience .work-experience .form-wrapper .workplace::placeholder,
.EditScience .education .form-wrapper .study::placeholder,
.EditScience .education .form-wrapper .institution::placeholder,
.EditScience .work-experience .info-worklist .h5-title textarea,
.EditScience .education .info-education .h5-study textarea {
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}

.EditScience .basic-info .basic-info-form .name textarea,
.EditScience .time-period input::placeholder,
.EditScience .time-period .period-separator,
.EditScience .time-period .location input::placeholder,
.EditScience .time-period input,
.EditScience .time-period .dash-separator,
.EditScience .time-period .location input {
  color: #364458;
}

.EditScience hr {
  border-top: 2px solid #364458;
  margin: 10px 0;
}

.EditScience .contact-info {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.EditScience .contact-info li {
  width: 40%;
}

.EditScience .contact-info span {
  float: left;
  font-size: 18px;
}

.EditScience .work-experience,
.EditScience .education {
  margin-left: 40px;
  margin-top: 10px;
}

.EditScience .work-experience h5,
.EditScience .education h5,
.EditScience .skills-data-science h5,
.EditScience .achievement h5,
.EditScience .languages h5,
.EditScience .informal-education h5 {
  font-weight: bold;
  color: #364458;
}

.EditScience .work-experience .form-wrapper .h5-title,
.EditScience .work-experience .form-wrapper .h5-workplace,
.EditScience .education .form-wrapper .h5-study,
.EditScience .education .form-wrapper .h5-study .education,
.EditScience .education .form-wrapper .h5-institution,
.EditScience .education .form-wrapper .info-education .institution {
  margin: 0;
  padding: 0;
}

.EditScience .basic-info .basic-info-form .name textarea {
  font-weight: 500;
  color: #364458;
}

.EditScience .addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #364458;
  border: 2px solid #364458;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 50px;
  cursor: pointer;
}

.EditScience .deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #364458;
  border: 2px solid #364458;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  top: 30%;
  right: -21px;
  cursor: pointer;
}

.EditScience .achievement .addButton,
.EditScience .languages .addButton,
.EditScience .languages .deleteButton {
  right: 0;
}

.EditScience .achievement .deleteButton {
  right: -79px;
}

.EditScience .skills-data-science .data-science-skills .deleteButton {
  position: absolute;
  right: 0;
  top: 0;
  color: #364458;
  background: none;
  border: none;
}

.EditScience .work-experience .info-worklist .deleteButton,
.EditScience .education .info-education .deleteButton,
.EditScience .achievement .form-wrapper .info-achievement .deleteButton,
.EditScience .languages .form-wrapper .deleteButton {
  color: #364458;
  background: none;
  border: none;
}

.EditScience .skills-data-science .data-science-skills input {
  border: hidden;
  resize: none;
  width: 50%;
  margin-top: -5px;
  margin-bottom: 10px;
  height: 25px;
}

.EditScience .skills-data-science .dv-star-rating-star {
  margin-right: 15px;
  margin-bottom: 0;
}

.EditScience .skills-data-science .dv-star-rating-empty-star svg {
  border: 1.5px solid #364458;
  border-radius: 50%;
  background: #364458;
}

.EditScience .languages .form-wrapper input {
  border: hidden;
  width: 70%;
  resize: none;
}

.EditScience .languages .form-wrapper span {
  margin-right: 10px;
}

.EditScience .informal-education .deleteButton {
  border: 2px solid #ffffff;
  font-size: 12px;
  top: 15px;
  right: 5px;
}

.EditScience .informal-education input {
  border: 2px solid #364458;
  color: #364458;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 3px 7px;
  border-radius: 4px;
}

.EditScience .work-experience,
.EditScience .skills-data-science,
.EditScience .achievement {
  margin-bottom: 1rem;
}

.EditScience .science-form-wrap {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.EditScience .language-form-wrap {
  margin-bottom: 20px;
}
