.footer-banner {
  display: flex;
  padding: 0;
  position: fixed;
  bottom: 0;
}

.left-banner {
  background-color: #ede63f;
  width: 50%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #f2f2f2;
}

.right-banner {
  background-color: #7738ff;
}

.banner-btn {
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.banner-btn .btn {
  color: #f2f2f2;
  background-color: rgb(0, 0, 0);
  padding: 15px 50px;
  margin: 0 20px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.left-banner h5 {
  font-weight: bold;
  color: white;
  margin-left: 30px;
}

.banner-btn .btn:hover {
  background-color: #f2f2f2;
  color: #6630d8;
}
