.homepage-bg {
  background: url('../images/background.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.homepage-txt,
.homepage-img {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: CircularStdBlack, sans-serif;
}

.home-text .h1 {
  font-size: 46px;
}

.home-text p,
.footText p {
  padding: 15px 0;
  color: rgb(141, 141, 141);
  margin: 0;
  font-family: CircularStdBlack, sans-serif;
  letter-spacing: 1px;
}

.home-text .btn {
  margin: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  margin-top: 30px;
  color: #f2f2f2;
  background-color: #6630d8;
  padding: 15px 50px;
  border-radius: 5px;
  font-size: 14px;
}

.home-text .btn:hover {
  background-color: #f2f2f2;
  color: #6630d8;
  border: 1px solid #6630d8;
  text-decoration: none;
}

.footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footText span a {
  color: #6630d8;
}

.footText span a:hover {
  text-decoration: none;
  color: rgb(151, 45, 184);
}
