.laika .email-div,
.laika .social-media-div,
.laika .industry-div,
.laika .education-div,
.laika .job-type-div,
.laika .experience-level-div {
  position: relative;
}

.laika .email,
.laika .education {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.laika .socialMedia {
  position: absolute;
  top: 0;
  left: 0;
  height: 65%;
  width: 100%;
}

.laika .whyLaika {
  position: absolute;
  height: 35%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.laika .industry,
.laika .locations {
  position: absolute;
  top: 0;
  height: 30%;
  width: 100%;
}

.laika .expertise,
.laika .jobType {
  position: absolute;
  top: 30%;
  height: 15%;
  width: 100%;
}

.laika .technologies {
  position: absolute;
  top: 45%;
  height: 10%;
  width: 100%;
}

.laika .experience {
  position: absolute;
  top: 55%;
  left: 0;
  height: 45%;
  width: 100%;
}

.laika .experienceLevel {
  position: absolute;
  top: 0;
  left: 0;
  height: 35%;
  width: 100%;
}

.laika .salary {
  position: absolute;
  top: 35%;
  left: 0;
  height: 40%;
  width: 100%;
}

.laika .jobPlan {
  position: absolute;
  top: 75%;
  left: 0;
  height: 25%;
  width: 100%;
}

.laika .jobTitle {
  position: absolute;
  height: 15%;
  top: 45%;
  width: 100%;
}

.laika .opportunity {
  position: absolute;
  height: 40%;
  width: 100%;
  bottom: 0;
}
