.linked .about-div,
.linked .acivity-div,
.linked .interests-div,
.linked .experience-div {
  position: relative;
}

.linked .title {
  left: 0;
  top: 0;
  height: 65%;
  width: 100%;
  position: absolute;
}

.linked .about {
  left: 0;
  bottom: 0;
  height: 35%;
  width: 100%;
  position: absolute;
}

.linked .activity {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.linked .interests {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.linked .experience {
  left: 0;
  top: 0;
  height: 50%;
  width: 100%;
  position: absolute;
}

.linked .education {
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  position: absolute;
}
