.marketing-res {
  position: relative;
}

.marketing-res .photo {
  position: absolute;
  top: 2%;
  left: 4%;
  width: 14%;
  height: 10%;
}

.marketing-res .mainInfo {
  position: absolute;
  top: 2%;
  left: 18%;
  width: 76%;
  height: 11%;
}

.marketing-res .previousJob {
  position: absolute;
  top: 18%;
  width: 48%;
  height: 48%;
}

.marketing-res .education {
  position: absolute;
  top: 68%;
  width: 48%;
  height: 23%;
}

.marketing-res .practicalPart {
  position: absolute;
  top: 14%;
  height: 4%;
  width: 100%;
}

.marketing-res .skills {
  position: absolute;
  top: 18%;
  width: 48%;
  right: 0;
  height: 14%;
}

.marketing-res .achievements {
  position: absolute;
  top: 33%;
  right: 0;
  width: 48%;
  height: 12%;
}

.marketing-res .languages {
  position: absolute;
  top: 45%;
  right: 0;
  width: 48%;
  height: 10%;
}
