.popup {
  background-image: url('../images/Backgroundpop-up.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
  background-color: white;
  position: relative;
}

.popup h1 {
  font-weight: 700;
  margin-bottom: 50px;
}

.popup p,
.popup span {
  font-weight: 700;
  font-size: 17px;
}

.popup span a {
  text-decoration: none;
  color: rgb(226, 6, 116);
}

.popup-text {
  position: absolute;
  left: 20%;
  top: 25%;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footText span a {
  color: #6630d8;
}

.footText span a:hover {
  text-decoration: none;
  color: rgb(151, 45, 184);
}
