.science-res {
  position: relative;
}

.science-res .photo {
  position: absolute;
  top: 27px;
  width: 14%;
  height: 10%;
  margin-left: 31px;
}

.science-res .previousJob {
  position: absolute;
  top: 18%;
  width: 48%;
  height: 42%;
}

.science-res .education {
  position: absolute;
  top: 59%;
  width: 48%;
  height: 22%;
}

.science-res .achievements {
  position: absolute;
  top: 38%;
  width: 48%;
  height: 8%;
  right: 0;
}

.science-res .skills {
  position: absolute;
  top: 18%;
  width: 48%;
  height: 20%;
  right: 0;
}

.science-res .mainInfo {
  position: absolute;
  top: 0;
  margin-left: 152px;
  width: 73%;
  height: 13%;
}

.science-res .languages {
  position: absolute;
  top: 46%;
  width: 48%;
  right: 0;
  height: 8%;
}

.science-res .informalEducation {
  position: absolute;
  top: 55%;
  width: 48%;
  right: 0;
  height: 11%;
}

.science-res .practicalPart {
  position: absolute;
  top: 14%;
  height: 4%;
  width: 100%;
}
