.time-period,
.time-period .location {
  width: 100%;
}

.time-period input::placeholder,
.time-period .period-separator,
.time-period .location input::placeholder {
  color: #2ebcb4;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 0;
}

.time-period input,
.time-period .dash-separator {
  border: hidden;
  color: #2ebcb4;
}

.time-period .present {
  width: 60px !important;
}

.time-period .month {
  width: 25px;
  text-align: right;
}

.time-period .year {
  width: 35px;
  text-align: left;
}

.time-period .location input {
  width: 100%;
  color: #2ebcb4;
  font-size: 13px;
  font-style: italic;
}

.time-period .present-label {
  margin: 0;
}
